
html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x:hidden;
    background-color: 	black;
}
.text-container{
    text-align: left;
    margin: auto;
    font-family: 'Aboreto',serif;
    font-size:1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    right:-16%;
    color:white;
    text-shadow: 4px 4px 4px black;
    width: 60vw;
}
.text-container h1{
    margin-left: 1vw;
}
.photo
{
    width:35%;
    height:100%;
    position: absolute;


}
input, label {
    display:block;
}

form{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:25px;
    width: 50%;

    height: fit-content;
    justify-content: space-between;
    align-items: center;
}
.form-container
{
    position: relative;
    left:-1.7%;
    border-radius: 5px;
    height: 36vh;
    background-color: black;
    width: 200vh;
    box-shadow:  	rgb(255,127,80) 0px 20px 30px -10px;
}
.form-container .cont{
    margin-left: 2vw;
}
.form-container .form-title{
    margin-left: 2vw;
}
input{
    width: 15vw;
    border-radius: 5px;
    height: 3vh;
}
input:focus{
    border-color: #eb9928;
    outline: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
input:invalid{
    border-color: red;
    outline: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
::placeholder{
    color:#5f788a
}
button{
    position: relative;
    margin-top:7vh;
    margin-left:1vw;
    width: 13vw;
    height: 7vh;
    border-radius: 15px;
    font-size: 2rem;
    color:#eb9928;
    background-color:black;
    border-color:#eb9928;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.login .login-text{
    position: relative;
    margin-top:3vh;
    margin-left:1vw;
}
button:hover
{
    color:black;
    background-color: #eb9928;
    border-color: black;
}

.background{
    background: black;
    opacity: 25%;
    position: absolute;
    bottom: 50%;

    width:35%;
    height:20%
}
.logo img{
    position:absolute;
    bottom:50%;
    left:5%;
    width: 10%;
    opacity: 100%;
    height: 20%;
}