
html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x:hidden;
    background-color: 	#1b2932;
}
.text-container{
    text-align: left;
    margin: auto;
    font-family: 'Aboreto',serif;
    font-size:1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    right:-16%;
    color:white;
    text-shadow: 4px 4px 4px black;
    width: 60vw;
}
.photo
{
    width:35%;
    height:100%;
    position: absolute;


}
input, label {
    display:block;
}

form{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:25px;
    width: 50%;

    height: fit-content;
    justify-content: space-between;
    align-items: center;
}
.form-container
{
    position: relative;
    left:-1.7%;
    border-radius: 5px;
    height: 36vh;
    background-color: #1b2932;
    width: 200vh;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}
.form-container .cont{
    margin-left: 2vw;
}
.form-container .form-title{
    margin-left: 2vw;
}
input{
    width: 15vw;
    border-radius: 5px;
    height: 3vh;
}
input:focus{
    border-color: #eb9928;
    outline: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
input:invalid{
    border-color: red;
    outline: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
::placeholder{
    color:#5f788a
}

